body {
	border-left: 15px solid blue;
	border-right: 15px solid blue;
}
#main-nav {
	a {
		transition: all 0.25s ease;
		&.inactive {
			color: var(--slate-500) !important;
		}
		&.active {
			color: white;
		}
		&:hover {
			color: white;
		}
		&.selected {
			color: white;
		}
	}
}
